<nav class="navbar">
	<i class="fa fa-bars navbar__burger"></i>
	<div class="navbar__logo">
		<a href="/">
			GO TO DASHBOARD
		</a>
	</div>
	<% if(session.user) { 
		if(!(session.user.role === 'admin')) { %>
		<div class="navbar__menu">
			<ul class="navbar__menu__ul">
				<li class="navbar__menu__ul__item"><a href="/doctors">Doctors</a></li>
				
			</ul>
		</div>
		<div class="navbar__side_menu">
			<ul class="navbar__side_menu__ul">
				<li class="navbar__side_menu__ul__item cross"><span><i class="fas fa-window-close"></i></span></li>
				<li class="navbar__side_menu__ul__item"><a href="/doctors" >Doctors</a></li>
			</ul>
		</div>
		<% }
	} %>

		<% if(session.userId) { %>
		<div class="navbar__profile">
			<h4 class="user-name"><%= session.user.name %></h4>
			<i id="moreOptions" class="fas fa-chevron-down"></i>
		</div>
		<% } %> 
	
</nav>
<% if(session.user) { %>
<div class="profile_menu_container display_none">
	<div class="profile_small_details">
		<div class="profile_picture__container">
			<img src="<%= session.user.display_picture ? session.user.display_picture : 'public/uploads/users/default-user.png'  %>" class="profile_picture">
		</div>
		<div class="name_and_phone">
			<a href="<%= session.user.role === 'user' ? '/edit-profile' : '/edit-profile-doctor' %>">
			<h4 class="name"><%= session.user.name %></h4></a>
			<span class="phoneNumber"><%= session.user.phoneNumber %></span> 
		</div>
	</div>
	<% if(session.user.role == 'user') { %>
	<ul class="profile_menu">
		<a href="/user-dashboard-appointments"><li class="profile_menu__item">My Appointments</li></a>
		<a href="/user-dashboard-medical-records"><li class="profile_menu__item">My Medical Records</li></a>
		<a href="/settings"><li class="profile_menu__item">My Settings</li></a>
		<a href="/logout"><li class="profile_menu__item">Logout</li></a>
	</ul>
	<% } else if(session.user.role == 'doctor') { %>
	<ul class="profile_menu">
		<a href="/doctor-dashboard"><li class="profile_menu__item">Appointments</li></a>
		<a href="/doctor-dashboard-payments"><li class="profile_menu__item">Payments</li></a>
		<a href="/schedule-appointment"><li class="profile_menu__item">Schedule Appointments</li></a>
		<a href="/settings"><li class="profile_menu__item">My Settings</li></a>
		<a href="/logout"><li class="profile_menu__item">Logout</li></a>
	</ul>
	<% } else if(session.user.role == 'admin') { %>
	<ul class="profile_menu">
		<a href="/admin"><li class="profile_menu__item">Appointments</li></a>
		<a href="/admin-doctors"><li class="profile_menu__item">Doctors</li></a>
		<a href="/admin-hospitals"><li class="profile_menu__item">Hospitals</li></a>
		<a href="/admin-patients"><li class="profile_menu__item">Patients</li></a>
		<a href="/settings"><li class="profile_menu__item">Settings</li></a>
		<a href="/logout"><li class="profile_menu__item">Logout</li></a>
	</ul>
	<% } %>
</div>
<% } %>
<div class="treatment_menu_container display_none" id="treatment_menu_container">
	<ul class="profile_menu">
		<a href="/treatments"><li class="profile_menu__item">Dentistry</li></a>
		<a href="/treatments"><li class="profile_menu__item">Cancer</li></a>
		<a href="/treatments"><li class="profile_menu__item">Cardiology</li></a>
		<a href="/treatments"><li class="profile_menu__item">Multi Organ Transplant</li></a>
		<a href="/treatments"><li class="profile_menu__item">Orthopedics Surgery</li></a>
		<a href="/treatments"><li class="profile_menu__item">Multi Organ Transplant</li></a>
		<a href="/treatments"><li class="profile_menu__item">Infertility Treatment</li></a>
	</ul>
</div>